APP_ENV=local
USE_MOCK_DATA=false
DATABRICKS_CONFIG_PROFILE=
DATABRICKS_HOST=
DATABRICKS_WAREHOUSE_ID=
DATABRICKS_PREDICTION_TABLE=workspace.student_aggregate.student_attrition_risk_prediction
DATABRICKS_FACT_TABLE=workspace.student_aggregate.rpt_student_management__fact__all_enrolment_eftsl__deidentified
DATABRICKS_MODEL_NAME=
DATABRICKS_APP_PORT=8000
STREAMLIT_PORT=8501
